<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>プロフィール</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div th:replace="common/header :: header"></div>
	<div class="container">

		<h1 class="title">プロフィール</h1>

		<div class="card">

			<div class="row">
				<label>名前</label>
				<span th:text="${profile.lastName + ' ' + profile.firstName}"></span>
			</div>

			<div class="row">
				<label>メール</label>
				<span th:text="${profile.email}"></span>
			</div>

			<div class="row">
				<label>役職</label>
				<span th:text="${profile.post}"></span>
			</div>

			<div class="row">
				<label>権限</label>
				<span th:text="${#strings.arrayJoin(profile.authorities, ', ')}"></span>
			</div>

			<div class="row">
				<label>電話番号</label>
				<span th:text="${profile.phoneNumber}"></span>
			</div>

		</div>

		<br>

		<a th:href="@{/admin/profile/edit}" class="btn">編集</a>

	</div>

</body>

</html>